html, body, .swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-position: 51% 44%;
    background-size: cover;
}

/*版心*/
.container-md {
    width: 1080px;
    height: 100%;
    padding: 0px 20px;
    margin: auto;
    box-sizing: border-box;
    /*background: #83c44e;*/
   /* text-align: center;*/
}

.container-md .logo {
    display: block;
    float: left;
}

.container-md .info {
    float: right;
    margin: 0 auto;
}

.container-md .info li {
    display: inline-block;
}

.global-navigation-wrap .container-md .info li a {
    color: #fff;
    font-weight: 400;
    padding: 8px 20px;
    font-size: 14px;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrap header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    /*background: #ff6700;*/
    z-index: 2;
}

.wrap .title {
    position: absolute;
    top: 50%;
    height: 146px;
    margin-top: -73px;
    /*background: #333333;*/
    z-index: 3;
    width: 100%;
}

.wrap .title h1 {
    font-size: 420%;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 20px;
    box-sizing: border-box;

}

.wrap .title a {
    display: inline-block;
    letter-spacing: .1em;
    font-size: 22px;
    font-weight: bold;
    padding: 14px 26px;
    box-shadow: rgba(123, 94, 81, 0.6) 0px 6px 30px 0px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    transition: color .2s ease, background .2s ease, border .2s ease, opacity .4s ease .8s, box-shadow .2s ease;
}

.wrap .title a:hover {
    background: rgba(0, 0, 0, 0.8);
}

.wrap .news {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 42px;
    /*background: #00a67c;*/
    z-index: 10;
    background: rgba(122, 112, 101, 0.4);
    overflow: hidden;
}

.wrap .news .container-md a {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;

    color: #FFFFFF;
    box-sizing: border-box;
}

.wrap .news .container-md a span {
    float: left;
    background: linear-gradient(to bottom, #ec614f 0%, #ff2e2e 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 0 8px;
}

.wrap .news .container-md a div {
    float: left;
    margin-left: 0.5em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    font-weight: 300;
    font-size: 16px;
}

.hero-promos {
    /*整体向左移动-2px*/
    margin-left: -2px;
}

.hero-promos .hero-promo {
    float: left;
    width: 25%;
    /*height: 240px;*/
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    box-sizing: border-box;
}

.hero-promos .hero-promo a {
    display: block;
    width: 100%;
    height: 240px;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 24px;
    color: #fff;

}

.hero-promos .hero-promo a h3 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 0;
}

.meta-links {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background: #FFFFFF;
    font-size: 0;
}

.meta-links .meta-link {
    width: 33.33%;
    padding: 45px 0;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
}

.meta-links .meta-link:nth-child(1) {
    text-align: left;
}

.meta-links .meta-link:nth-child(2) {
    text-align: center;
}

.meta-links .meta-link:nth-child(3) {
    text-align: right;
}

.meta-links .icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 auto;
    margin-right: 10px;
    box-sizing: border-box;
}

.meta-links .text {
    display: inline-block;
    vertical-align: bottom;
}

.meta-links .text h4 {
    text-align: left;
}

.meta-links .text h4, p {
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}

.footer .main-links {
    width: 33.33%;
    padding: 45px 0;
    float: left;
}

.footer .footer-list {
    float: left;
    padding: 45px 0;

    /*width: 66.66%;*/
}

.footer .footer-list ul {
    float: left;
    width: 25%;
}

.footer_logo {
    border-bottom: 1px solid #eeeeee;
}

.footer-list ul a {
    display: block;
    height: 30px;
    color: #000000;
}

.footer .footer-list ul li:first-child {
    font-weight: bolder;
    color: #000000;
    margin-bottom: 10px;
    line-height: 2;
}

.footer .main-links li {
    height: 37px;
    line-height: 4.3;
    color: #000000;
    font-weight: 300;
    box-sizing: border-box;
}

.footer .main-links .logo-text {
    display: block;
    width: 160px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer .main-links .phoneNum {
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
}

.copyright {
    padding: 45px 0;
    height: 58px;
}

.copyright p {
    font-weight: 300;
    margin-top: 4px;
    font-size: 12px;
    color: #aaa;
}

.copyright p i {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: -3px;
}

.icp {
    float: left;
    width: 940px;
    margin-top: 4px;
    margin-right: 40px;

}

.footer-badges {
    float: left;
}

.footer-badges img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

/*响应式布局*/
/*屏幕最小是1080px时*/
@media screen and (max-width: 1080px) {
    .container-md {
        width: 100%;
        box-sizing: border-box;
    }

    .info {
        display: none;
    }

    .hero-promos .hero-promo {
        width: 50%;
    }

    .wrap .title h1 {
        font-size: 280%;
    }
    .icp{
        width: 100% !important;
    }

}

@media screen and (max-width: 830px) {
    .container-md {
        width: 100%;
        box-sizing: border-box;
    }

    .footer-list {
        width: 100% !important;

    }

    .footer-list ul {
        width: 25%;
        float: none;
    }

    .footer .main-links {
        float: none;
        width: 100% !important;
    }
}

@media screen and (max-width: 740px) {
    .container-md {
        width: 100%;
        box-sizing: border-box;
    }

    .meta-links .meta-link:nth-child(1) {
        width: 100%;
        text-align: left;
    }

    .meta-links .meta-link:nth-child(2) {
        width: 100%;
        text-align: left;
    }

    .meta-links .meta-link:nth-child(3) {
        width: 100%;
        text-align: left;
    }
}

/*最小宽度是640px时*/
@media screen and (max-width: 640px) {
    .container-md {
        width: 100%;
        box-sizing: border-box;
    }

    .hero-promos .hero-promo {
        width: 100%;
    }

    .footer-list {
        width: 100% !important;

    }

    .footer-list ul {
        width: 25%;
        float: none;
    }

    .footer .main-links {
        float: none;
        width: 100% !important;
    }

    /*    .meta-links .meta-link {
            width: 100%;
            display: block;
            text-align: left;
        }*/

}


